.container{
  margin: 0 auto;
  max-width: 1110px;
  padding: 2.1rem 0 4rem 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav button:nth-of-type(2), .about article button, .footer div button{
  color: white;
  height: 3.5rem;
  font-size: 1rem;
  padding: 0 2.9rem;
  border-radius: 9999;
  letter-spacing: 003rem;
  background-color: black;

}

.nav button:nth-of-type(2):hover{
  background-color: #2C73D2;

}

.hero {
  text-align: center;
  margin-top: 4.17rem;
}

.hero h2 {
  font-size: 3.35rem;
  letter-spacing: 0.08rem;
}

.hero p {
  margin-top: 1.5rem;
}

.hero p,
.about article p,
.footer div article p {
  color: #7a746e;
  font-size: 1.15rem;
  line-height: 1.75rem;
}

.hero div {
  gap: 1.48rem;
  display: grid;
  margin-top: 5.1rem;
  grid-template-areas:
    "a b c d"
    "a e e f";
}

.hero div svg:nth-child(1) {
  grid-area: a;
}

.hero div svg:nth-child(2) {
  grid-area: b;
}

.hero div svg:nth-child(3) {
  grid-area: c;
}

.hero div svg:nth-child(4) {
  grid-area: d;
}

.hero div svg:nth-child(5) {
  grid-area: e;
}

.hero div svg:nth-child(6) {
  grid-area: f;
}